{{#link-to 'dashboard.show' item.boxId class="col-sm-2 box"}}
    <div class="icon-holder">
	{{fa-icon item.icon size="lg"}}
    </div>
    <div class="description">
        {{item.label}}
        </div>
        {{/link-to}}
 