.welcome img{
    height: 200px
}
.welcome h2.heading{
    position: relative;
    bottom: 100px;
    color: white;
    text-align: center
}
.link{
        float: right;
    font-size: 20px;
    color: black;
    text-decoration: underline;
}
.link:hover{
    color: black;
}
.image-card{
    display: inline-block;
}
.image-card img{
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
}
.gallery{
    margin: 9px;
    background-color: #d4d4e2;
    padding: 10px;
    text-align: center;
    display: block;
    font-size: 38px;
}