<div class="container"><div class="card">
  <div class="card-header">
    About Us
  </div>
  <div class="card-block">
    <h4 class="card-title">We are..</h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    {{#link-to 'welcome.aboutus.gallery' class="btn btn-primary"}}Photo Gallery{{/link-to}}
  </div>
</div></div>{{outlet}}
