<div class="container">
<div class="card welcome">
  <img class="card-img-top" src="images/cover.jpg" alt="Card image cap">
  <h2 class="heading">Ember learning</h2>
  <div class="card-block">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div>{{#link-to 'welcome.aboutus'  class='link'}}>>About Us{{/link-to}}</div>
</div>

{{outlet}}
