<div class="container">
<div class="card welcome">
  <img class="card-img-top" src="images/cover.jpg" alt="Card image cap">
  <h2 class="heading">Ember learning</h2>
  <div class="card-block">
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et cursus ante, vitae bibendum est. Suspendisse sodales turpis in velit molestie, consequat venenatis erat semper. Nunc in euismod arcu, sit amet vehicula lectus. Praesent eu nisl eu lectus tincidunt auctor non at nulla. Vestibulum a fringilla justo, non efficitur ligula. Phasellus ac pharetra diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer id augue nunc. Donec eget fringilla ligula. In fringilla elit quis pulvinar lacinia. Praesent aliquet congue lobortis. Sed ullamcorper quis orci ac lacinia. Ut volutpat, tortor ut facilisis scelerisque, eros diam molestie ipsum, eget accumsan est est ut tortor.

Phasellus ac metus eu mi mollis sollicitudin. Nunc facilisis venenatis dui, ac pretium leo facilisis eu. Donec eu dictum orci. Vestibulum mattis laoreet odio, in accumsan purus bibendum non. Curabitur vehicula egestas ex quis ornare. Nulla ut tincidunt erat. Morbi eleifend odio elit, id tincidunt massa sollicitudin quis. Integer blandit nisi magna, quis suscipit velit porttitor in. Aliquam erat volutpat. Nullam hendrerit tristique ligula, a gravida leo fringilla ac. Nam hendrerit tristique nunc ut posuere. Vivamus eget hendrerit diam. Aliquam ultricies mattis ante a fermentum.
</p>
  </div>
</div>
<div>{{#link-to 'welcome.aboutus'  class='link' photos=photos}}>>About Us{{/link-to}}</div>

</div>